.Wether-mail{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background-color: rgb(53, 39, 56);
overflow: hidden;
}
.OuterDiv{
    background-color: rgb(16, 35, 119);
    height: 600px;
    width: 400px;
    border-radius: 10px;
   

}
.SearchBar{
    margin-left: 5rem;
    margin-top: 5rem;

}
.SearchBar input{
    height: 35px;
    border-radius: 5px;
    border: none;
   
}
.SearchBar button{
    height: 35px;
    border-radius: 5px;
    border: none;
    margin-left: 5px;
    background-color: rgb(0, 183, 255);
    color: aliceblue;
    font-weight: bold;
    width: 60px;
}
.SearchBar button:hover{
    cursor: pointer;
    background-color: rgb(0, 225, 255);
}

.wetherImage{
display: flex;
justify-content: center;
width: 500px;
height: 180px;
margin-left:-50px;
margin-top: 20px;
}
.wetherImage1{
display: flex;
justify-content: center;
width: 500px;
height: 250px;
margin-left:-50px;
margin-top: 20px;
}
.wetherImage2{
display: flex;
justify-content: center;
width: 500px;
height: 250px;
margin-left:-50px;
margin-top: 150px;
}
.wetherPlace{
    display: grid;
    justify-content: center;
}
.wetherPlace .celsious{
    color: white;
    font-weight: bold;
    
    font-size: 80px;
    font-weight: bold;
}
.wetherPlace h3{
    color: white;
    font-weight: bold;
    align-items: center;
    font-size: 20px;
    align-items: center;
    text-align: center;
}

.footer{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}
.humudity{
color: white;
}
.wind{
    color: white;
}
.temp{
    text-align: center;
    color: yellow;
    font-family: sans-serif;
    font-style: italic;
}
/* Define your custom CSS class */
.custom-popup-class {
    width: 500px; /* Set the width */
    height: 300px; /* Set the height */
    /* Add any other custom styles you want for the popup */
  }
  